.macbook-air {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-air .div {
  background-color: #000000;
  width: 1409px;
  height: 1003px;
  position: relative;
}

.macbook-air .rectangle {
  position: absolute;
  width: 1406px;
  height: 11px;
  top: 50px;
  left: 1px;
  background-color: #ffffff;
}

.macbook-air .text-wrapper {
  position: absolute;
  width: 84px;
  top: 12px;
  left: 885px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-2 {
  position: absolute;
  width: 65px;
  top: 12px;
  left: 986px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-3 {
  position: absolute;
  width: 65px;
  top: 12px;
  left: 1083px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .group {
  position: absolute;
  width: 212px;
  height: 22px;
  top: 13px;
  left: 1181px;
}

.macbook-air .overlap-group {
  position: relative;
  width: 210px;
  height: 22px;
  background-image: url(./img/group-1.png);
  background-size: 100% 100%;
}

.macbook-air .text-wrapper-4 {
  position: absolute;
  width: 192px;
  top: 1px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-air .overlap {
  position: absolute;
  width: 1382px;
  height: 254px;
  top: 64px;
  left: 24px;
}

.macbook-air .bienvenue-sur {
  position: absolute;
  width: 247px;
  top: 0;
  left: 556px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .span {
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
}

.macbook-air .text-wrapper-5 {
  font-size: 128px;
}

.macbook-air .text-wrapper-6 {
  font-size: 16px;
}

.macbook-air .dans-le-monde {
  position: absolute;
  width: 1382px;
  top: 197px;
  left: 0;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .img {
  position: absolute;
  width: 157px;
  height: 140px;
  top: 58px;
  left: 601px;
  object-fit: cover;
}

.macbook-air .overlap-2 {
  position: absolute;
  width: 303px;
  height: 561px;
  top: 377px;
  left: 1103px;
}

.macbook-air .SCANNEZ-MOI {
  position: absolute;
  top: 74px;
  left: 49px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #121511;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-7 {
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #121511;
  font-size: 16px;
  letter-spacing: 0;
}

.macbook-air .text-wrapper-8 {
  font-family: "Kokoro-Regular", Helvetica;
}

.macbook-air .rectangle-2 {
  position: absolute;
  width: 303px;
  height: 561px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.macbook-air .rectangle-3 {
  position: absolute;
  width: 212px;
  height: 110px;
  top: 67px;
  left: 40px;
  background-color: #5865f2;
  border-radius: 25px;
}

.macbook-air .p {
  position: absolute;
  width: 211px;
  top: 74px;
  left: 43px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .rectangle-4 {
  position: absolute;
  width: 203px;
  height: 204px;
  top: 207px;
  left: 45px;
  object-fit: cover;
}

.macbook-air .overlap-3 {
  position: absolute;
  width: 916px;
  height: 61px;
  top: 585px;
  left: 52px;
}

.macbook-air .rectangle-5 {
  position: absolute;
  width: 438px;
  height: 61px;
  top: 0;
  left: 478px;
  object-fit: cover;
}

.macbook-air .rectangle-6 {
  position: absolute;
  width: 438px;
  height: 61px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.macbook-air .text-wrapper-9 {
  position: absolute;
  width: 510px;
  top: 5px;
  left: 27px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-air .text-wrapper-10 {
  position: absolute;
  width: 202px;
  top: 5px;
  left: 612px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-air .en-tant-que-manager {
  position: absolute;
  width: 350px;
  top: 773px;
  left: 93px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .tes-vous-pr-t-faire {
  position: absolute;
  width: 368px;
  top: 664px;
  left: 557px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .votre-prochain {
  position: absolute;
  width: 356px;
  top: 662px;
  left: 93px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .rectangle-7 {
  position: absolute;
  width: 199px;
  height: 198px;
  top: 365px;
  left: 34px;
  object-fit: cover;
}

.macbook-air .rectangle-8 {
  position: absolute;
  width: 199px;
  height: 198px;
  top: 365px;
  left: 271px;
  object-fit: cover;
}

.macbook-air .rectangle-9 {
  position: absolute;
  width: 199px;
  height: 198px;
  top: 365px;
  left: 641px;
  object-fit: cover;
}

.macbook-air .div-wrapper {
  position: absolute;
  width: 314px;
  height: 49px;
  top: 892px;
  left: 93px;
  background-image: url(./img/rectangle-44.png);
  background-size: cover;
  background-position: 50% 50%;
}

.macbook-air .text-wrapper-11 {
  position: absolute;
  top: 14px;
  left: 97px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-air .overlap-4 {
  position: absolute;
  width: 314px;
  height: 49px;
  top: 788px;
  left: 576px;
  background-image: url(./img/rectangle-44.png);
  background-size: cover;
  background-position: 50% 50%;
}

.macbook-air .text-wrapper-12 {
  position: absolute;
  top: 15px;
  left: 93px;
  font-family: "Actor", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-air .rectangle-10 {
  position: absolute;
  width: 53px;
  height: 49px;
  top: 0;
  left: 0;
  object-fit: cover;
}
